:root {
  font-size: 100%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  line-height: 1.5;

  --space-1: .5rem;

}




.app {

}

.container {
  width: 71.25em;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
}


.list--unstyled {
  list-style-type: none;
  padding-left: 0;
}

.list--relaxed > li {
  padding: .5em 0;
}

.input-group--inline {
  display: flex;
  align-items: center;
}

.input-group--inline > label {
  margin-right: 1em;
}

[type='text'],
[type='button'] {
  height: 2.4375rem;
}

[type='text'] {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5rem;
  border: 2px solid #cccccc;
  border-radius: 0;
  background-color: #fcfcfc;
  color: #0a0a0a;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[type='button'] {
  padding: .75em 1.25em;

  background: #ccc;
  border: 2px solid #ccc;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8125rem;
  -webkit-appearance: none;
  appearance: none;
}




@media screen and (min-width: 978px) {
  .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


.section-title {
  display: flex;
  align-items: center;
}

.section-title__icon {
  margin-right: 1rem;
}


.section-controls {
  display: flex;
}

.section-controls > * {
  margin-right: var(--space-1);
}

.section-controls > *:last-child {
  margin-right: 0;
}

.button--icon-left {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 1.25em 0 .75em;
  line-height: 1.2;
}

.button--icon-left:before {
  content: "";
  display: block;
  height: 1.5em;
  width: 1.5em;
  margin-right: .75em;
}

.icon--sort-asc:before {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/19636/sort-alpha-asc.svg) no-repeat center center;
  background-size: 1em;
}

.icon--sort-desc:before {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/19636/sort-alpha-desc.svg) no-repeat center center;
  background-size: 1em;
}

.list--blocked li {
  background: #f7f7f7;
  margin-bottom: .25rem;
  padding-left: 1em;
}

.loader {
  text-align: center;
}
